/* ##################################################
   #####             FOOTER  STYLING            #####
   ################################################## */

.attribution {
  padding-top: 2rem;
  font-size: 11px;
  text-align: center;
  color: darkgray;
}

.attribution a {
  font-size: 12px;
  color: black;
}
