:root {
  /* Breakpoints */
  --bp_mobile: 375px;
  --bp_desktop: 1440px;

  /* Colors  Primary */
  --cl_very-dark-magenta: hsl(300, 43%, 22%);
  --cl_soft-pink: hsl(333, 80%, 67%);

  /* Colors Neutral */
  --cl_dark-grayish-magenta: hsl(303, 18%, 53%);
  --cl_light-grayish-magenta: hsl(300, 24%, 96%);
  --cl_white: hsl(0, 0%, 100%);

  /* border-radius variable */
  --br_card: 8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}

body {
  background: url("../images/bg-pattern-top-mobile.svg"),
    url("../images/bg-pattern-bottom-mobile.svg");
  background-position: top left, bottom center;
  background-repeat: no-repeat, no-repeat;
  /* background-attachment: fixed, fixed; */
  background-size: 374px 232px, 1085px 673px;
}

.main-app {
  display: flex;
  flex-direction: column;
  margin: 80px auto;
  width: 327px;
  gap: 40px;
}

.main-app__title {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.header {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1.14px;

  color: var(--cl_very-dark-magenta);
}

.description {
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.5px;
  text-align: center;

  color: var(--cl_dark-grayish-magenta);
}

.main-app__stars {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.star-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: var(--br_card);

  background-color: var(--cl_light-grayish-magenta);
}

.golden-star {
  height: 16px;
  width: auto;
}

.star-card__rating {
  font-size: 1rem;
  font-weight: 700;
  color: var(--cl_very-dark-magenta);
}

.main-app__testimonials {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.testimonial-card {
  background-color: var(--cl_very-dark-magenta);
  border-radius: var(--br_card);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.user-profile {
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.user-photo img {
  height: 40px;
  width: auto;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  font-size: 13px;
}

.user-name {
  color: var(--cl_white);
  font-weight: 700;
}

.user-title {
  color: var(--cl_soft-pink);
  font-weight: 400;
}

.testimonial {
  font-size: 13px;
  line-height: 22px;
  letter-spacing: -0.23px;
  font-weight: 500;
  color: var(--cl_white);
}

@media (min-width: 1200px) {
  body {
    background: url("../images/bg-pattern-top-desktop.svg"),
      url("../images/bg-pattern-bottom-desktop.svg");
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: 584px 362px, 1085px 673px;
  }

  .main-app {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 127px auto;
    width: 1110px;
    justify-content: space-between;
    align-items: center;
  }

  .main-app__title {
    width: 440px;
  }

  .header {
    font-size: 48px;
    line-height: 1em;
    text-align: left;
  }

  .description {
    text-align: left;
  }

  .main-app__stars {
    width: 540px;
    align-items: center;
  }

  .star-card {
    flex-direction: row;
    width: 445px;
    padding-inline: 32px;
    gap: 32px;
    justify-content: center;
  }

  .star-card:first-child {
    align-self: flex-start;
  }

  .star-card:last-child {
    align-self: flex-end;
  }

  .main-app__testimonials {
    flex-direction: row;
    gap: 30px;
    height: 266px;
    align-items: center;
  }

  .testimonial-card {
    height: 235px;
  }

  .testimonial-card:first-child {
    align-self: flex-start;
  }

  .testimonial-card:last-child {
    align-self: flex-end;
  }
}

/* Frontendmentor footer message styling */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
